@import "tailwindcss";

header {
    background-color: #85929e;
}

body {
    background-color: #eaeded;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-size: 300%
}

h2 {
    font-size: 215%
}

h3 {
    font-size: 175%
}

p {
    font-size: 130%
}